/********** variables de couleurs **********/

// $primary_color: #1d1d1d; //fond background noir
$primary500_color: #101010; //noir
// $primary900_color: #181818; //noir background navigation
$secondary900_color: #ffffff; //blanc
$secondary500_color: #ffdd40;
$third_color: #eaeaea; //gris moyen
$third500_color: #7e7e7e; //gris moyen +
$third900_color: #353535; //gris foncé
// $fourth_color: #0bc3e7; //bleu clair
$fourth500_color: #239fb9; //bleu moyen
$fourth900_color: #3498db; //bleu loader
$error_color: #ff0000; // rouge pour les erreurs

/********** variables de couleurs 2 **********/
// $primary_color: #191923; //fond background
// $primary900_color: #8e94f2; //noir background navigation
// $secondary_color: #fffffc; //blanc
// $fourth_color: #119da4; //bleu clair

// $primary_color: #c6d4ff; //fond background
// $primary900_color: #476c9b; //noir background navigation
// $secondary_color: #1d1d1d; //blanc
// $fourth_color: #0b132b; //bleu clair

// $primary_color: #f7f7ff; //fond background
// $fourth_color: #dc965a; //bleu clair
// $fourth_color: #32936f; //bleu clair

// $primary_color: #01161e; //fond background
// $primary900_color: #6a8d92; //noir background navigation
// $secondary_color: #eaeaea; //blanc
// $fourth_color: #fec601; //bleu clair

// $fourth_color: #ffa630; //bleu clair
// $fourth_color: #cd5334; //bleu clair
// $primary900_color: #4d7c8a; //noir background navigation

$primary_color: #4281a4; //fond background
$primary900_color: #01161e; //noir background navigation
$secondary_color: #fcfcfc; //blanc
// $fourth_color: #fec601; //bleu clair

$fourth_color: #f9c80e; //bleu clair
