@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.project__content__page {
  display: flex;
  flex-direction: column;

  .page {
    max-width: 1600px;
    width: 100%;
    margin: 80px auto 50px;
    padding: 0 25px;
    .page__container {
      @include transition500;
      max-width: 1024px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      border-radius: 25px;
      padding: 30px 15px;
      background: $primary900_color;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
      h2 {
        @include montserrat;
        color: $secondary_color;
        font-size: 2.7em;
        font-weight: 600;
        letter-spacing: 0.5px;
      }

      &__img {
        width: 100%;
        max-width: 975px;
        margin: auto;
        object-fit: top/cover;
        height: auto;
        display: block;
        border: 1px solid $primary900_color;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;
        animation: open 1s ease-in-out;

        @keyframes open {
          from {
            width: 0;
            opacity: 0;
          }
          to {
            width: 100%;
            opacity: 1;
          }
        }
      }

      &__tags {
        @include transition500;
        width: 100%;
        gap: 20px;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;

        span {
          @include montserrat;
          @include transition500;
          color: $secondary_color;
          background-color: $primary_color;
          font-size: 1.15em;
          font-weight: 600;
          padding: 4px 25px;
          border-radius: 10px;
          border: 2px solid $fourth_color;
          display: block;
          width: 150px;
        }
      }
    }
  }
}
