@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.project__content__page {
  display: flex;
  flex-direction: column;

  .page__container {
    max-width: 1600px;
    width: 100%;
    margin: 40px auto;
    padding: 0 25px;

    &__img {
      width: 100%;
      max-width: 600px;
      margin: auto;
      object-fit: cover;
      height: 550px;
      display: block;
    }
  }
}
