@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.contactPage__container {
  width: 100%;
  max-width: 1600px;
  margin: 50px auto 0;

  .contactText {
    @include montserrat;
    padding: 20px;
    color: $secondary_color;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;

    h2 {
      @include transition350;
      font-size: 3em;
      font-weight: 500;
      @media screen and (max-width: 768px) {
        font-size: 2em;
      }
    }
    p {
      @include transition350;
      @include poppins;
      max-width: 768px;
      line-height: 1.5em;
      font-size: 1.1em;
      font-weight: 300;
      border-bottom: 1px dashed $fourth_color;
      padding-bottom: 40px;
      @media screen and (max-width: 768px) {
        font-size: 1em;
      }
    }

    &__infos {
      @include transition350;
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 1.8em;
      font-weight: 500;
      margin-top: 40px;
      border-bottom: 1px dashed $fourth_color;
      padding-bottom: 40px;
      @media screen and (max-width: 768px) {
        font-size: 1.4em;
      }
      @media screen and (max-width: 400px) {
        font-size: 1.25em;
      }
    }
  }
}
