@import "../utils/mixins.scss";
@import "../utils/variables.scss";

.page__content {
  @include montserrat;
  width: 100%;
  max-width: 1600px;
  margin: auto;
  color: $secondary_color;
  padding: 25px;
  h3 {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 100px;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    &__firstContainer {
      @include transition425;
      @include montserrat;
      color: $secondary_color;
      width: 100%;
      padding: 30px 15px;
      border-radius: 15px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
      display: flex;
      justify-content: space-between;
      gap: 30px;
      @media screen and (max-width: 1024px) {
        flex-direction: column;
      }

      img {
        width: 100%;
        max-width: 500px;
        object-fit: cover;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;
        @media screen and (max-width: 1024px) {
          margin: auto;
        }
      }

      &__text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        flex: 1;

        h4 {
          font-size: 1.2em;
          font-weight: 500;
        }
      }
    }
  }
}
